{{!< default}}

<main class="about-content">
  <div class="site-inner">
    <h3 class="about-header">
      Hi! I'm Daniel Kimbel. This page is about me.
    </h3>

    {{!-- <div>Likes/Dislikes: I love [honey](http://www.google.com/imgres?imgurl=https://farm8.staticflickr.com/7291/8736355728_5748f75744_o_d.jpg&imgrefurl=https://www.flickr.com/photos/breville/8736355728&h=696&w=1024&tbnid=sENJRPwxGGEcVM:&zoom=1&docid=1-bJ78MExQcZCM&ei=NTGKVZfkMo-3oQTUrauADw&tbm=isch&ved=0CCEQMygFMAU), [guacamole](http://www.google.com/imgres?imgurl=http://upload.wikimedia.org/wikipedia/commons/6/64/Guacamole_IMGP1271.jpg&imgrefurl=http://commons.wikimedia.org/wiki/File:Guacamole_IMGP1271.jpg&h=3104&w=4672&tbnid=Gi04pkDJrnLNMM:&zoom=1&docid=nD9rgkt111JqmM&ei=wTCKVYycE4rXoASowKGIDA&tbm=isch&ved=0CCAQMygEMAQ), [coffee, travel](https://unsplash.com/), and [learning](http://www.google.com/imgres?imgurl=https://farm6.staticflickr.com/5214/5399905776_d5b05ff08a_o_d.jpg&imgrefurl=https://www.flickr.com/photos/magdav/5399905776&h=900&w=1350&tbnid=In5oX0F8njaUaM:&zoom=1&docid=66ZFSDvsTTzZPM&ei=WTGKVejrMJe2ogS_4qH4Dw&tbm=isch&ved=0CB0QMygBMAE), and dislike [meetings, delays, and incompetence](http://www.google.com/imgres?imgurl=https://upload.wikimedia.org/wikipedia/commons/a/af/Business_presentation_byVectorOpenStock.jpg&imgrefurl=https://commons.wikimedia.org/wiki/File:Business_presentation_byVectorOpenStock.jpg&h=294&w=568&tbnid=ceB40qeafcnSYM:&zoom=1&docid=ZoqVhHsjZjDvHM&ei=GDaKVYSeHc6vogSeuYDIBw&tbm=isch&ved=0CB0QMygBMAE)(overlay 'ban' icon from fonticons).</div>
    <div>Appearance [pic of self]</div>
    <div>Education: I studied biology at [Rice University](http://www.freelogovectors.net/wp-content/uploads/2014/01/Rice_Owls_Logo1.jpg), and got my development career kickstarted at [Dev Bootcamp](http://www.thehackerati.com/blog/assets/img/dbc.png).</div>
    <div>Career: I work as a software engineer at [LendUp](https://d7wp36vu44dwt.cloudfront.net/public/assets/images/lendup_logo.svg).</div>
    <div>Causes: I support [EFF](https://www.eff.org/files/2014/11/17/eff-badge-rec-2015.png) and [SENS Research Foundation](http://www.sens.org/sites/srf.org/files/video-thumbnails/SRF_Logo_Tall_LightBkgd.jpg).</div>
    <div>Get in touch: linkedin, email, twitter</div>
    <p>Image credits: honey, guacamole, coffee, travel, learning, meetings</p> --}}
  </div>
</main>