{{!< default}}

<main class="page-content">
  <div class="site-inner">
    <h1 class="page-header">
      Software Development Reading List
    </h1>
    <h3 class="page-subheader">
      These are the books I have read or plan to read to become a better developer.
    </h3>
    <table class="reading-list-table">
      <tr>
        <th>Book</th>
        <th>Expected Length</th>
        <th>Progress</th>
      </tr>
      <tr>
        <td>
          <a href="https://pragprog.com/book/dnvim/practical-vim">
            <img src="/content/images/reading-list/practical-vim.jpg">
            <span class="reading-list-book-title">Practical Vim</span>
            <span class="reading-list-book-author">by Drew Neil</span>
          </a>
        </td>
        <td>2 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="https://www.nostarch.com/clojure">
            <img src="/content/images/reading-list/clojure-brave-true.png">
            <span class="reading-list-book-title">Clojure for the Brave and True</span>
            <span class="reading-list-book-author">by Daniel Higginbotham</span>
          </a>
        </td>
        <td>2 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="https://www.masteringemacs.org/">
            <img class="no-shadow" src="/content/images/reading-list/mastering-emacs.png">
            <span class="reading-list-book-title">Mastering Emacs</span>
            <span class="reading-list-book-author">by Mickey Petersen</span>
          </a>
        </td>
        <td>2 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.manning.com/fogus2/">
            <img src="/content/images/reading-list/joy-of-clojure.jpg">
            <span class="reading-list-book-title">The Joy of Clojure</span>
            <span class="reading-list-book-author">by Michael Fogus and Chris Houser</span>
          </a>
        </td>
        <td>3 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://store.doverpublications.com/0486478831.html">
            <img src="/content/images/reading-list/lambda-calculus.jpg">
            <span class="reading-list-book-title">An Introduction to Functional Programming Through Lambda Calculus</span>
            <span class="reading-list-book-author">by Greg Michaelson</span>
          </a>
        </td>
        <td>3 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="https://mitpress.mit.edu/books/little-schemer">
            <img src="/content/images/reading-list/little-schemer.jpg">
            <span class="reading-list-book-title">The Little Schemer</span>
            <span class="reading-list-book-author">by Daniel P. Friedman and Matthias Felleisen</span>
          </a>
        </td>
        <td>2 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="https://mitpress.mit.edu/books/seasoned-schemer">
            <img src="/content/images/reading-list/seasoned-schemer.jpg">
            <span class="reading-list-book-title">The Seasoned Schemer</span>
            <span class="reading-list-book-author">by Daniel P. Friedman and Matthias Felleisen</span>
          </a>
        </td>
        <td>2 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="https://mitpress.mit.edu/books/reasoned-schemer">
            <img src="/content/images/reading-list/reasoned-schemer.jpg">
            <span class="reading-list-book-title">The Reasoned Schemer</span>
            <span class="reading-list-book-author">by Daniel P. Friedman, William E. Byrd, and Oleg Kiselyov</span>
          </a>
        </td>
        <td>3 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="https://mitpress.mit.edu/books/introduction-algorithms">
            <img src="/content/images/reading-list/introduction-algorithms.jpg">
            <span class="reading-list-book-title">Introduction to Algorithms</span>
            <span class="reading-list-book-author">by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest, and Clifford Stein</span>
          </a>
        </td>
        <td>5 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://learnyouahaskell.com/">
            <img src="/content/images/reading-list/learn-you-a-haskell.png">
            <span class="reading-list-book-title">Learn You a Haskell for Great Good!</span>
            <span class="reading-list-book-author">by Miran Lipovača</span>
          </a>
        </td>
        <td>4 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.bash2zsh.com/">
            <img src="/content/images/reading-list/bash-to-zsh.jpg">
            <span class="reading-list-book-title">From Bash to Z Shell: Conquering the Command Line</span>
            <span class="reading-list-book-author">by Oliver Kiddle, Jerry Peek, and Peter Stephenson</span>
          </a>
        </td>
        <td>4 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.duntemann.com/assembly.html">
            <img src="/content/images/reading-list/assembly.jpg">
            <span class="reading-list-book-title">Assembly Language Step by Step: Programming with Linux</span>
            <span class="reading-list-book-author">by Jeff Duntemann</span>
          </a>
        </td>
        <td>5 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="https://www.nostarch.com/hacking2.htm">
            <img src="/content/images/reading-list/hacking.png">
            <span class="reading-list-book-title">Hacking: The Art of Exploitation</span>
            <span class="reading-list-book-author">by Jon Erickson</span>
          </a>
        </td>
        <td>5 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://freecomputerbooks.com/The-C-Programming-Language.html">
            <img src="/content/images/reading-list/c-programming.jpg">
            <span class="reading-list-book-title">The C Programming Language</span>
            <span class="reading-list-book-author">by Brian W. Kernighan and Dennis M. Ritchie</span>
          </a>
        </td>
        <td>6 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.nand2tetris.org/book.php">
            <img src="/content/images/reading-list/elements-computing-systems.jpg">
            <span class="reading-list-book-title">The Elements of Computing Systems: Building a Modern Computer from First Principles</span>
            <span class="reading-list-book-author">by Noam Nisan and Shimon Schocken</span>
          </a>
        </td>
        <td>4 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.charlespetzold.com/code/">
            <img src="/content/images/reading-list/code-hidden-language.jpg">
            <span class="reading-list-book-title">Code: The Hidden Language of Computer Hardware and Software</span>
            <span class="reading-list-book-author">by Charles Petzold</span>
          </a>
        </td>
        <td>3 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="https://mitpress.mit.edu/sicp/full-text/book/book.html">
            <img src="/content/images/reading-list/structure-interpretation.jpg">
            <span class="reading-list-book-title">Structure and Interpretation of Computer Programs</span>
            <span class="reading-list-book-author">by Harold Abelson and Gerald Jay Sussman with Julie Sussman</span>
          </a>
        </td>
        <td>5 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://us.macmillan.com/thenewturingomnibus/akdewdney">
            <img src="/content/images/reading-list/turing-omnibus.png">
            <span class="reading-list-book-title">The New Turing Omnibus: 66 Excursions in Computer Science</span>
            <span class="reading-list-book-author">by A.K. Dewdney</span>
          </a>
        </td>
        <td>3 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://freecomputerbooks.com/Programming-Pearls-2nd-Edition.html">
            <img src="/content/images/reading-list/programming-pearls.jpg">
            <span class="reading-list-book-title">Programming Pearls</span>
            <span class="reading-list-book-author">by Jon Bentley</span>
          </a>
        </td>
        <td>3 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://gameprogrammingpatterns.com/">
            <img src="/content/images/reading-list/game-programming.jpg">
            <span class="reading-list-book-title">Game Programming Patterns</span>
            <span class="reading-list-book-author">by Robert Nystrom</span>
          </a>
        </td>
        <td>4 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="https://progit.org/">
            <img src="/content/images/reading-list/pro-git.jpg">
            <span class="reading-list-book-title">Pro Git</span>
            <span class="reading-list-book-author">by Scott Chacon and Ben Straub</span>
          </a>
        </td>
        <td>2 months</td>
        <td>-</td>
      </tr>
    </table>
  </div>
</main>