{{!< default}}

<main class="page-content">
  <div class="site-inner">
    <h1 class="page-header">
      Software Development Reading List
    </h1>
    <p class="reading-list-description">
      These are the books I have read or plan to read to become a better developer.
    </p>
    <table class="reading-list-table">
      <tr>
        <th class="book-header">Book</th>
        <th class="duration-header">Expected Length</th>
        <th class="progress-header">Progress</th>
      </tr>
      <tr>
        <td>
          <a href="https://pragprog.com/book/dnvim/practical-vim">
            <img src="/content/images/reading-list/practical-vim.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">Practical Vim</div>
              <div class="reading-list-book-author">by Drew Neil</div>
            </div>
          </a>
        </td>
        <td>2 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="https://www.nostarch.com/clojure">
            <img src="/content/images/reading-list/clojure-brave-true.png">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">Clojure for the Brave and True</div>
              <div class="reading-list-book-author">by Daniel Higginbotham</div>
            </div>
          </a>
        </td>
        <td>2 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="https://www.masteringemacs.org/">
            <img class="no-shadow" src="/content/images/reading-list/mastering-emacs.png">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">Mastering Emacs</div>
              <div class="reading-list-book-author">by Mickey Petersen</div>
            </div>
          </a>
        </td>
        <td>2 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.manning.com/fogus2/">
            <img src="/content/images/reading-list/joy-of-clojure.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">The Joy of Clojure</div>
              <div class="reading-list-book-author">by Michael Fogus and Chris Houser</div>
            </div>
          </a>
        </td>
        <td>3 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="http://store.doverpublications.com/0486478831.html">
            <img src="/content/images/reading-list/lambda-calculus.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">An Introduction to Functional Programming Through Lambda Calculus</div>
              <div class="reading-list-book-author">by Greg Michaelson</div>
            </div>
          </a>
        </td>
        <td>3 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="https://mitpress.mit.edu/books/little-schemer">
            <img src="/content/images/reading-list/little-schemer.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">The Little Schemer</div>
              <div class="reading-list-book-author">by Daniel P. Friedman and Matthias Felleisen</div>
            </div>
          </a>
        </td>
        <td>2 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="https://mitpress.mit.edu/books/seasoned-schemer">
            <img src="/content/images/reading-list/seasoned-schemer.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">The Seasoned Schemer</div>
              <div class="reading-list-book-author">by Daniel P. Friedman and Matthias Felleisen</div>
            </div>
          </a>
        </td>
        <td>2 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="https://mitpress.mit.edu/books/reasoned-schemer">
            <img src="/content/images/reading-list/reasoned-schemer.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">The Reasoned Schemer</div>
              <div class="reading-list-book-author">by Daniel P. Friedman, William E. Byrd, and Oleg Kiselyov</div>
            </div>
          </a>
        </td>
        <td>3 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="https://mitpress.mit.edu/books/introduction-algorithms">
            <img src="/content/images/reading-list/introduction-algorithms.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">Introduction to Algorithms</div>
              <div class="reading-list-book-author">by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest, and Clifford Stein</div>
            </div>
          </a>
        </td>
        <td>5 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="http://learnyouahaskell.com/">
            <img src="/content/images/reading-list/learn-you-a-haskell.png">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">Learn You a Haskell for Great Good!</div>
              <div class="reading-list-book-author">by Miran Lipovača</div>
            </div>
          </a>
        </td>
        <td>4 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.bash2zsh.com/">
            <img src="/content/images/reading-list/bash-to-zsh.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">From Bash to Z Shell: Conquering the Command Line</div>
              <div class="reading-list-book-author">by Oliver Kiddle, Jerry Peek, and Peter Stephenson</div>
            </div>
          </a>
        </td>
        <td>4 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.duntemann.com/assembly.html">
            <img src="/content/images/reading-list/assembly.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">Assembly Language Step by Step: Programming with Linux</div>
              <div class="reading-list-book-author">by Jeff Duntemann</div>
            </div>
          </a>
        </td>
        <td>5 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="https://www.nostarch.com/hacking2.htm">
            <img src="/content/images/reading-list/hacking.png">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">Hacking: The Art of Exploitation</div>
              <div class="reading-list-book-author">by Jon Erickson</div>
            </div>
          </a>
        </td>
        <td>5 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="http://freecomputerbooks.com/The-C-Programming-Language.html">
            <img src="/content/images/reading-list/c-programming.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">The C Programming Language</div>
              <div class="reading-list-book-author">by Brian W. Kernighan and Dennis M. Ritchie</div>
            </div>
          </a>
        </td>
        <td>6 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.nand2tetris.org/book.php">
            <img src="/content/images/reading-list/elements-computing-systems.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">The Elements of Computing Systems: Building a Modern Computer from First Principles</div>
              <div class="reading-list-book-author">by Noam Nisan and Shimon Schocken</div>
            </div>
          </a>
        </td>
        <td>4 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.charlespetzold.com/code/">
            <img src="/content/images/reading-list/code-hidden-language.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">Code: The Hidden Language of Computer Hardware and Software</div>
              <div class="reading-list-book-author">by Charles Petzold</div>
            </div>
          </a>
        </td>
        <td>3 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="https://mitpress.mit.edu/sicp/full-text/book/book.html">
            <img src="/content/images/reading-list/structure-interpretation.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">Structure and Interpretation of Computer Programs</div>
              <div class="reading-list-book-author">by Harold Abelson and Gerald Jay Sussman with Julie Sussman</div>
            </div>
          </a>
        </td>
        <td>5 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="http://us.macmillan.com/thenewturingomnibus/akdewdney">
            <img src="/content/images/reading-list/turing-omnibus.png">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">The New Turing Omnibus: 66 Excursions in Computer Science</div>
              <div class="reading-list-book-author">by A.K. Dewdney</div>
            </div>
          </a>
        </td>
        <td>3 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="http://freecomputerbooks.com/Programming-Pearls-2nd-Edition.html">
            <img src="/content/images/reading-list/programming-pearls.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">Programming Pearls</div>
              <div class="reading-list-book-author">by Jon Bentley</div>
            </div>
          </a>
        </td>
        <td>3 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="http://gameprogrammingpatterns.com/">
            <img src="/content/images/reading-list/game-programming.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">Game Programming Patterns</div>
              <div class="reading-list-book-author">by Robert Nystrom</div>
            </div>
          </a>
        </td>
        <td>4 months</td>
        <td>&#8212;</td>
      </tr>
      <tr>
        <td>
          <a href="https://progit.org/">
            <img src="/content/images/reading-list/pro-git.jpg">
            <div class="reading-list-book-info">
              <div class="reading-list-book-title">Pro Git</div>
              <div class="reading-list-book-author">by Scott Chacon and Ben Straub</div>
            </div>
          </a>
        </td>
        <td>2 months</td>
        <td>&#8212;</td>
      </tr>
    </table>
  </div>
</main>