{{!< default}}

<main class="page-content">
  <div class="site-inner">
    <h1 class="page-header">
      Hi! I'm Daniel Kimbel. This page is about me.
    </h1>
    <div class="about-card-holder flex-container">

      <div class="about-card flex-container" id="likes-card">
        <h2><i class="icon icon-smile-o icon-lg"></i> Likes</h2>
        <div class="image-name-pair">
          <img class="about-thumbnail" src="/content/images/about/honey.jpg">
          <p>Honey</p>
        </div>
        <div class="image-name-pair">
          <img class="about-thumbnail" src="/content/images/about/guacamole.jpg">
          <p>Guacamole</p>
        </div>
        <div class="image-name-pair">
          <img class="about-thumbnail" src="/content/images/about/coffee.jpg">
          <p>Coffee</p>
        </div>
        <div class="image-name-pair">
          <img class="about-thumbnail" src="/content/images/about/travel.jpg">
          <p>Travel</p>
        </div>
        <div class="image-name-pair">
          <img class="about-thumbnail" src="/content/images/about/learning.jpg">
          <p>Learning<p>
        </div>
        <div class="image-name-pair">
          <img class="about-thumbnail" src="/content/images/about/computers.jpg">
          <p>Computers</p>
        </div>
        <div class="image-name-pair">
          <img class="about-thumbnail" src="/content/images/about/programming.jpg">
          <p>Programming</p>
        </div>
      </div>

      <div class="about-card flex-container" id="ideals-card">
        <h2><i class="icon icon-star-o icon-lg"></i> Ideals</h2>
        <div class="image-name-pair">
          <img class="about-thumbnail" src="/content/images/about/perfection.jpg">
          <p>Perfection</p>
        </div>
        <div class="image-name-pair">
          <img class="about-thumbnail" src="/content/images/about/beauty.jpg">
          <p>Beauty</p>
        </div>
        <div class="image-name-pair">
          <img class="about-thumbnail" src="/content/images/about/reason.jpg">
          <p>Reason</p>
        </div>
        <div class="image-name-pair">
          <img class="about-thumbnail" src="/content/images/about/efficiency.jpg">
          <p>Efficiency</p>
        </div>
        <div class="image-name-pair">
          <img class="about-thumbnail" src="/content/images/about/precision.jpg">
          <p>Precision</p>
        </div>
      </div>

      <div class="about-card vertical-card flex-container" id="career-card">
        <h2><i class="icon icon-briefcase icon-lg"></i> Career</h2>
        <div class="image-name-pair">
          <a class="about-image-link" href="https://www.lendup.com/careers/">
            <img src="/content/images/about/lendup.png">
          </a>
          <p>Software Engineer</p>
        </div>
      </div>

      <div class="about-card vertical-card flex-container" id="appearance-card">
        <h2><i class="icon icon-eye icon-lg"></i> Appearance</h2>
        <img class="appearance-image" src="/content/images/about/self.jpg">
      </div>

      <div class="about-card vertical-card flex-container" id="education-card">
        <h2><i class="icon icon-university icon-lg"></i> Education</h2>
        <div class="image-name-pair">
          <a class="about-image-link" href="http://www.rice.edu/">
            <img src="/content/images/about/rice-university.png">
          </a>
          <p>B.A. in Biological Sciences</p>
        </div>
        <div class="image-name-pair">
          <a class="about-image-link" href="http://devbootcamp.com/">
            <img src="/content/images/about/dev-bootcamp.png">
          </a>
          <p>Web Development</p>
        </div>
      </div>

      <div class="about-card vertical-card flex-container" id="causes-card">
        <h2><i class="icon icon-child icon-lg"></i> Causes</h2>
        <div class="image-name-pair">
          <a class="about-image-link" href="https://www.eff.org/">
            <img src="/content/images/about/eff-badge.png">
          </a>
          <p>Digital Freedom</p>
        </div>
        <div class="image-name-pair">
          <a class="about-image-link" href="http://sens.org/">
            <img src="/content/images/about/srf-logo.jpg">
          </a>
          <p>Age-Related Disease</p>
        </div>
      </div>

      <div class="about-card flex-container" id="connect-card">
        <h2><i class="icon icon-comment-o icon-lg"></i> Connect</h2>
        <a class="connect-icon-link" href="https://www.linkedin.com/in/dkimbel">
          <i class="icon icon-linkedin icon-3x"></i>
        </a>
        <a class="connect-icon-link" href="https://twitter.com/TechOwl">
          <i class="icon icon-twitter icon-3x"></i>
        </a>
        <a class="connect-icon-link hubski-logo-link" href="https://hubski.com/user?id=TechOwl">
          <img class="hubski-logo" src="/content/images/about/hubski-logo.png">
        </a>
        <a class="connect-icon-link" href="mailto:dkkimbel@gmail.com?subject=Contact%20Through%20Website">
          <i class="icon icon-envelope-o icon-3x"></i>
        </a>
      </div>

    </div>{{! .about-card-holder }}

    <div class="image-attributions-holder">
      <h4 class="image-attributions-header">Image Attributions</h4>
      <ul class="image-attributions">
        <li>Likes/Honey: By <a href="https://www.flickr.com/photos/breville/">Breville USA</a>, under <a href="https://creativecommons.org/licenses/by/2.0/">CC 2.0 Generic</a>. <a href="https://www.flickr.com/photos/breville/8736355728">Click for original image at Flickr</a>.</li>
        <li>Likes/Guacamole: By Nikodem Nijaki, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>. <a href="https://commons.wikimedia.org/wiki/File:Guacamole_IMGP1271.jpg">Click for original image at Wikimedia Commons</a>.</li>
        <li>Likes/Coffee: By <a href="https://unsplash.com/worthyofelegance">Padurariu Alexandru</a>, under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>. <a href="https://download.unsplash.com/photo-1422207109431-97544339f995">Click for original image at Unsplash</a>.</li>
        <li>Likes/Travel: By <a href="https://unsplash.com/negativespace">Luis Llerena</a>, under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>. <a href="https://download.unsplash.com/photo-1429030150151-548690082f0b">Click for original image at Unsplash</a>.</li>
        <li>Likes/Learning: By <a href="https://www.flickr.com/photos/magdav/">David Flores</a>, under <a href="https://creativecommons.org/licenses/by/2.0/">CC 2.0 Generic</a>. <a href="https://www.flickr.com/photos/magdav/5399905776">Click for original image at Flickr</a>.</li>
        <li>Likes/Computers: By <a href="https://pixabay.com/en/users/blickpixel-52945/">Michael Schwarzenberger</a>, under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>. <a href="https://pixabay.com/en/board-electronics-computer-453758/">Click for original image at Pixabay</a>.</li>
        <li>Likes/Programming: By <a href="https://pixabay.com/en/users/kuszapro-369349/">Christopher Kuszajewski</a>, under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>. <a href="https://pixabay.com/en/source-code-code-programming-c-583537/">Click for original image at Pixabay</a>.</li>
        <li>Ideals/Perfection: By <a href="https://pixabay.com/en/users/cygig-38672/">cygig</a>, under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>. <a href="https://pixabay.com/en/diamond-gem-cubic-zirconia-jewel-123338/">Click for original image at Pixabay</a>.</li>
        <li>Ideals/Reason: By <a href="https://www.flickr.com/photos/froderik/">Fredrik Rubensson</a>, under <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC Attribution-Share Alike 2.0 Generic</a>. <a href="https://www.flickr.com/photos/froderik/8283724240">Click for original image at Flickr</a>.</li>
        <li>Ideals/Beauty: By <a href="https://unsplash.com/nelly">Nelly Volkovich</a>, under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>. <a href="https://download.unsplash.com/photo-1430132594682-16e1185b17c5">Click for original image at Unsplash</a>.</li>
        <li>Ideals/Efficiency: By <a href="https://www.flickr.com/photos/17258892@N05/">Ralph Bijker</a>, under <a href="https://creativecommons.org/licenses/by/2.0/">CC 2.0 Generic</a>. <a href="https://www.flickr.com/photos/17258892@N05/2588347668">Click for original image at Flickr</a>.</li>
        <li>Ideals/Precision: By <a href="https://pixabay.com/en/users/tpsdave-12019/">David Mark</a>, under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>. <a href="https://pixabay.com/en/cape-canaveral-florida-launch-pad-92191/">Click for original image at Pixabay</a>.</li>
      </ul>{{! .image-attributions }}
    </div>{{! .image-attributions-holder }}
  </div>{{! .site-inner }}
</main>