{{!< default}}

<main class="page-content">
  <div class="site-inner">
    <h1 class="page-header">
      Software Development Reading List
    </h1>
    <h3 class="page-subheader">
      These are the books I have read or plan to read to become a better developer.
    </h3>
    <table class="reading-list-table">
      <tr>
        <th>Book</th>
        <th>Expected Length</th>
        <th>Progress</th>
      </tr>
      <tr>
        <td>
          <a href="https://pragprog.com/book/dnvim/practical-vim">
            <img src="/content/images/reading-list/practical-vim.jpg">
            <span class="reading-list-book-title">Practical Vim</span>
            <span class="reading-list-book-author">by Drew Neil</span>
          </a>
        </td>
        <td>2 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.braveclojure.com/">
            <img src="/content/images/reading-list/clojure-brave-true.png">
            <span class="reading-list-book-title">Clojure for the Brave and True</span>
            <span class="reading-list-book-author">by Daniel Higginbotham</span>
          </a>
        </td>
        <td>2 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="https://www.masteringemacs.org/">
            <img class="no-shadow" src="/content/images/reading-list/mastering-emacs.png">
            <span class="reading-list-book-title">Mastering Emacs</span>
            <span class="reading-list-book-author">by Mickey Petersen</span>
          </a>
        </td>
        <td>2 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://www.manning.com/fogus2/">
            <img src="/content/images/reading-list/joy-of-clojure.jpg">
            <span class="reading-list-book-title">The Joy of Clojure</span>
            <span class="reading-list-book-author">by Michael Fogus and Chris Houser</span>
          </a>
        </td>
        <td>3 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://store.doverpublications.com/0486478831.html">
            <img src="/content/images/reading-list/lambda-calculus.jpg">
            <span class="reading-list-book-title">An Introduction to Functional Programming Through Lambda Calculus</span>
            <span class="reading-list-book-author">by Greg Michaelson</span>
          </a>
        </td>
        <td>3 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="https://mitpress.mit.edu/books/little-schemer">
            <img src="/content/images/reading-list/little-schemer.jpg">
            <span class="reading-list-book-title">The Little Schemer</span>
            <span class="reading-list-book-author">by Daniel P. Friedman and Matthias Felleisen</span>
          </a>
        </td>
        <td>2 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="https://mitpress.mit.edu/books/seasoned-schemer">
            <img src="/content/images/reading-list/seasoned-schemer.jpg">
            <span class="reading-list-book-title">The Seasoned Schemer</span>
            <span class="reading-list-book-author">by Daniel P. Friedman and Matthias Felleisen</span>
          </a>
        </td>
        <td>2 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="https://mitpress.mit.edu/books/reasoned-schemer">
            <img src="/content/images/reading-list/reasoned-schemer.jpg">
            <span class="reading-list-book-title">The Reasoned Schemer</span>
            <span class="reading-list-book-author">by Daniel P. Friedman, William E. Byrd, and Oleg Kiselyov</span>
          </a>
        </td>
        <td>3 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="https://mitpress.mit.edu/books/introduction-algorithms">
            <img src="/content/images/reading-list/introduction-algorithms.jpg">
            <span class="reading-list-book-title">Introduction to Algorithms</span>
            <span class="reading-list-book-author">by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest, and Clifford Stein</span>
          </a>
        </td>
        <td>5 months</td>
        <td>-</td>
      </tr>
      <tr>
        <td>
          <a href="http://learnyouahaskell.com/">
            <img src="/content/images/reading-list/learn-you-a-haskell.png">
            <span class="reading-list-book-title">Learn You a Haskell for Great Good!</span>
            <span class="reading-list-book-author">by Miran Lipovača</span>
          </a>
        </td>
        <td>4 months</td>
        <td>-</td>
      </tr>
    </table>
  </div>
</main>