{{!< default}}

<main class="about-content">
  <div class="site-inner">
    <h1 class="about-header">
      Hi! I'm Daniel Kimbel. This page is about me.
    </h1>
    <div class="about-card-holder flex-container">

      <div class="about-card flex-container" id="likes-card">
        <h2><i class="icon icon-smile-o icon-lg"></i> Likes</h2>
        <img class="about-thumbnail" src="/content/images/about/honey.jpg">
        <img class="about-thumbnail" src="/content/images/about/guacamole.jpg">
      </div>

      <div class="about-card flex-container" id="dislikes-card">
        <h2><i class="icon icon-frown-o icon-lg"></i> Dislikes</h2>
      </div>

      <div class="about-card flex-container" id="ideals-card">
        <h2><i class="icon icon-star-o icon-lg"></i> Ideals</h2>
      </div>

      <div class="about-card flex-container" id="education-card">
        <h2><i class="icon icon-university icon-lg"></i> Education</h2>
      </div>

      <div class="about-card flex-container" id="career-card">
        <h2><i class="icon icon-briefcase icon-lg"></i> Career</h2>
      </div>

      <div class="about-card flex-container" id="appearance-card">
        <h2><i class="icon icon-eye icon-lg"></i> Appearance</h2>
      </div>

      <div class="about-card flex-container" id="causes-card">
        <h2><i class="icon icon-child icon-lg"></i> Causes</h2>
      </div>

      <div class="about-card flex-container" id="contact-card">
        <h2><i class="icon icon-comment-o icon-lg"></i> Contact</h2>
      </div>

    </div>{{! .about-card-holder }}

    {{!-- <div>Likes/Dislikes: [coffee, travel](https://unsplash.com/), and [learning](http://www.google.com/imgres?imgurl=https://farm6.staticflickr.com/5214/5399905776_d5b05ff08a_o_d.jpg&imgrefurl=https://www.flickr.com/photos/magdav/5399905776&h=900&w=1350&tbnid=In5oX0F8njaUaM:&zoom=1&docid=66ZFSDvsTTzZPM&ei=WTGKVejrMJe2ogS_4qH4Dw&tbm=isch&ved=0CB0QMygBMAE), and dislike [meetings](http://www.google.com/imgres?imgurl=https://upload.wikimedia.org/wikipedia/commons/a/af/Business_presentation_byVectorOpenStock.jpg&imgrefurl=https://commons.wikimedia.org/wiki/File:Business_presentation_byVectorOpenStock.jpg&h=294&w=568&tbnid=ceB40qeafcnSYM:&zoom=1&docid=ZoqVhHsjZjDvHM&ei=GDaKVYSeHc6vogSeuYDIBw&tbm=isch&ved=0CB0QMygBMAE)(overlay 'ban' icon from fonticons).</div>
    <div>Appearance [pic of self]</div>
    <div>Education: I studied biology at [Rice University](http://www.freelogovectors.net/wp-content/uploads/2014/01/Rice_Owls_Logo1.jpg), and got my development career kickstarted at [Dev Bootcamp](http://www.thehackerati.com/blog/assets/img/dbc.png).</div>
    <div>Career: I work as a software engineer at [LendUp](https://d7wp36vu44dwt.cloudfront.net/public/assets/images/lendup_logo.svg).</div>
    <div>Causes: I support [EFF](https://www.eff.org/files/2014/11/17/eff-badge-rec-2015.png) and [SENS Research Foundation](http://www.sens.org/sites/srf.org/files/video-thumbnails/SRF_Logo_Tall_LightBkgd.jpg).</div>
    <div>Get in touch: linkedin, email, twitter</div>
    <p>Image credits: honey, guacamole, coffee, travel, learning, meetings</p> --}}
    <ul class="image-attributions">
      <li>Likes/Honey: By <a href="https://www.flickr.com/photos/breville/">Breville USA</a>, under <a href="https://creativecommons.org/licenses/by/2.0/">CC 2.0 Generic</a>. <a href="https://www.flickr.com/photos/breville/8736355728">Click for original image</a>.</li>
      <li>Likes/Guacamole: By Nikodem Nijaki, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>. <a href="https://commons.wikimedia.org/wiki/File:Guacamole_IMGP1271.jpg">Click for original image at Wikipedia Commons</a>.</li>
    </div>{{! .image-attributions }}
  </div>{{! .site-inner }}
</main>