{{!< default}}

<main class="about-content">
  <div class="site-inner">
    <h1 class="about-header">
      Hi! I'm Daniel Kimbel. This page is about me.
    </h1>
    <div class="about-card-holder flex-container">

      <div class="about-card flex-container" id="likes-card">
        <h2><i class="icon icon-smile-o icon-lg"></i> Likes</h2>
        <img class="about-thumbnail" src="/content/images/about/honey.jpg">
        <img class="about-thumbnail" src="/content/images/about/guacamole.jpg">
        <img class="about-thumbnail" src="/content/images/about/coffee.jpg">
        <img class="about-thumbnail" src="/content/images/about/travel.jpg">
        <img class="about-thumbnail" src="/content/images/about/learning.jpg">
        <img class="about-thumbnail" src="/content/images/about/computers.jpg">
        <img class="about-thumbnail" src="/content/images/about/programming.jpg">
      </div>

      <div class="about-card flex-container" id="dislikes-card">
        <h2><i class="icon icon-frown-o icon-lg"></i> Dislikes</h2>
        <div class="banned-image-holder">
          <img class="about-thumbnail ban-overlay" src="/content/images/about/ban-overlay.png">
          <img class="about-thumbnail" src="/content/images/about/meetings.jpg">
        </div>
        <div class="banned-image-holder">
          <img class="about-thumbnail ban-overlay" src="/content/images/about/ban-overlay.png">
          <img class="about-thumbnail" src="/content/images/about/loud-noises.png">
        </div>
        <div class="banned-image-holder">
          <img class="about-thumbnail ban-overlay" src="/content/images/about/ban-overlay.png">
          <img class="about-thumbnail" src="/content/images/about/anger.jpg">
        </div>
        <div class="banned-image-holder">
          <img class="about-thumbnail ban-overlay" src="/content/images/about/ban-overlay.png">
          <img class="about-thumbnail" src="/content/images/about/violence.jpg">
        </div>
        <div class="banned-image-holder">
          <img class="about-thumbnail ban-overlay" src="/content/images/about/ban-overlay.png">
          <img class="about-thumbnail" src="/content/images/about/death.jpg">
        </div>
      </div>

      <div class="about-card flex-container" id="ideals-card">
        <h2><i class="icon icon-star-o icon-lg"></i> Ideals</h2>
        <img class="about-thumbnail" src="/content/images/about/perfection.jpg">
        <img class="about-thumbnail" src="/content/images/about/beauty.jpg">
        <img class="about-thumbnail" src="/content/images/about/efficiency.jpg">
        <img class="about-thumbnail" src="/content/images/about/precision.jpg">
      </div>

      <div class="about-card flex-container" id="education-card">
        <h2><i class="icon icon-university icon-lg"></i> Education</h2>
        <img class="about-thumbnail" src="/content/images/about/rice-university.jpg">
        <img class="about-thumbnail" src="/content/images/about/dev-bootcamp.jpg">
      </div>

      <div class="about-card flex-container" id="career-card">
        <h2><i class="icon icon-briefcase icon-lg"></i> Career</h2>
        <img class="about-thumbnail" src="/content/images/about/lendup.jpg">
      </div>

      <div class="about-card flex-container" id="appearance-card">
        <h2><i class="icon icon-eye icon-lg"></i> Appearance</h2>
        <img class="about-thumbnail" src="/content/images/about/self.jpg">
      </div>

      <div class="about-card flex-container" id="causes-card">
        <h2><i class="icon icon-child icon-lg"></i> Causes</h2>
        <img class="about-thumbnail" src="/content/images/about/eff-badge.jpg">
        <img class="about-thumbnail" src="/content/images/about/srf-logo.jpg">
      </div>

      <div class="about-card flex-container" id="contact-card">
        <h2><i class="icon icon-comment-o icon-lg"></i> Contact</h2>
      </div>

    </div>{{! .about-card-holder }}

    {{!-- <div>Likes/Dislikes: [loud noises](https://pixabay.com/en/megaphone-loudspeaker-speech-talk-155780/), [anger](https://pixabay.com/en/anger-nervous-brave-stress-477044/), [violence](https://pixabay.com/en/knife-blade-sharp-arm-weapon-159519/), [death](https://commons.wikimedia.org/wiki/File:The_death.png) (overlay 'ban' icon from fonticons).</div>
    <div>Ideals: [Perfection](https://pixabay.com/en/diamond-gem-cubic-zirconia-jewel-123338/), [Beauty](aurora at https://unsplash.com/nelly OR stars at https://unsplash.com/abl), [Efficiency](https://www.flickr.com/photos/17258892@N05/2588347668), [Precision](https://pixabay.com/en/cape-canaveral-florida-launch-pad-92191/)</div>
    <div>Appearance: [pic of self]</div>
    <div>Education: I studied biology at [Rice University](http://www.freelogovectors.net/wp-content/uploads/2014/01/Rice_Owls_Logo1.jpg), and got my development career kickstarted at [Dev Bootcamp](http://www.thehackerati.com/blog/assets/img/dbc.png).</div>
    <div>Career: I work as a software engineer at [LendUp](https://d7wp36vu44dwt.cloudfront.net/public/assets/images/lendup_logo.svg).</div>
    <div>Causes: I support [EFF](https://www.eff.org/files/2014/11/17/eff-badge-rec-2015.png) and [SENS Research Foundation](http://www.sens.org/sites/srf.org/files/video-thumbnails/SRF_Logo_Tall_LightBkgd.jpg).</div>
    <div>Get in touch: linkedin, email, twitter</div>
    <p>Image credits: honey, guacamole, coffee, travel, learning, meetings</p> --}}
    <ul class="image-attributions">
      <li>Likes/Honey: By <a href="https://www.flickr.com/photos/breville/">Breville USA</a>, under <a href="https://creativecommons.org/licenses/by/2.0/">CC 2.0 Generic</a>. <a href="https://www.flickr.com/photos/breville/8736355728">Click for original image at Flickr</a>.</li>
      <li>Likes/Guacamole: By Nikodem Nijaki, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>. <a href="https://commons.wikimedia.org/wiki/File:Guacamole_IMGP1271.jpg">Click for original image at Wikipedia Commons</a>.</li>
      <li>Likes/Coffee: By <a href="https://unsplash.com/worthyofelegance">Padurariu Alexandru</a>, under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>. <a href="https://download.unsplash.com/photo-1422207109431-97544339f995">Click for original image at Unsplash</a>.</li>
      <li>Likes/Travel: By <a href="https://unsplash.com/negativespace">Luis Llerena</a>, under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>. <a href="https://download.unsplash.com/photo-1429030150151-548690082f0b">Click for original image at Unsplash</a>.</li>
      <li>Likes/Learning: By <a href="https://www.flickr.com/photos/magdav/">David Flores</a>, under <a href="https://creativecommons.org/licenses/by/2.0/">CC 2.0 Generic</a>. <a href="https://www.flickr.com/photos/magdav/5399905776">Click for original image at Flickr</a>.</li>
      <li>Likes/Computers: By <a href="https://pixabay.com/en/users/blickpixel-52945/">Michael Schwarzenberger</a>, under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>. <a href="https://pixabay.com/en/board-electronics-computer-453758/">Click for original image at Pixabay</a>.</li>
      <li>Likes/Programming: By <a href="https://pixabay.com/en/users/kuszapro-369349/">Christopher Kuszajewski</a>, under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>. <a href="https://pixabay.com/en/source-code-code-programming-c-583537/">Click for original image at Pixabay</a>.</li>
      <li>Dislikes/Ban Overlay: By <a href="https://pixabay.com/en/users/OpenClipartVectors-30363/">OpenClipartVectors</a>, under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>. <a href="https://pixabay.com/en/unauthorised-denied-ban-prohibition-156169/">Click for original image at Pixabay</a>.</li>
      <li>Dislikes/Meetings: By <a href="https://www.vectoropenstock.com/">Vector Open Stock</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>. <a href="https://www.vectoropenstock.com/vectors/preview/397/business-presentation">Click for original image</a>.</li>
      <li>Dislikes/Loud Noises: By <a href="https://pixabay.com/en/users/OpenClipartVectors-30363/">OpenClipartVectors</a>, under <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>. <a href="https://pixabay.com/en/megaphone-loudspeaker-speech-talk-155780/">Click for original image at Pixabay</a>.</li>
    </div>{{! .image-attributions }}
  </div>{{! .site-inner }}
</main>